{
	"useTabs": true,
	"tabWidth": 3,
	"printWidth": 135,
	"semi": false,
	"singleQuote": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"tabWidth": 2
			}
		}
	],
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "", "^@shared(/.*)?$", "", "^[.]"],
	"importOrderTypeScriptVersion": "5.0.0"
}
